In [1]:
#Strings
'Hello Basanta'

'Hello Basanta'

In [4]:
print ('Hi')

print ("Hello")

Hi
Hello

In [7]:
print("Basanta's fone number is xxx-xxx-xxxx")

Basanta's fone number is xxx-xxx-xxxx

In [8]:
print('he said " Hello How are you"')

he said " Hello How are you"

In [9]:
print("hi"+"\n"+"Basanta")

hi
Basanta

In [10]:
print("Hi \t Basanta")

Hi 	 Basanta

In [5]:
str1 = "Hello Basanta"

In [12]:
str1

'Hello Basanta'

In [22]:
#indexing starts from 0
len(str1)

13

In [23]:
str1[12]

'a'

In [24]:
str1[13]

IndexError: string index out of range

In [25]:
str1[-1]

'a'

In [30]:
#Slicing of the string
str1[0:5]

'Hello'

In [32]:
str1[5:]

' Basanta'

In [33]:
str1[:7]

'Hello B'

In [35]:
str1[:27]

'Hello Basanta'

In [39]:
str1.upper()

'HELLO BASANTA'

In [40]:
str1.lower()

'hello basanta'

In [42]:
#Reversing a string
str1[::-1]

'atnasaB olleH'

In [46]:
str1[::-2]

'ansBolH'

In [47]:
str1[::-3]

'aaBlH'

In [48]:
str1[7]

'a'

In [51]:
str1 = "Hello basanta"

In [52]:
str1

'Hello basanta'

In [53]:
str1[6]

'b'

In [54]:
str1[6] = 'B'

TypeError: 'str' object does not support item assignment

In [55]:
str1 = "Hello Basanta"

In [59]:
str1.split()

['Hello', 'Basanta']

In [4]:
str1

NameError: name 'str1' is not defined

In [61]:
str1.split("a")

['Hello B', 's', 'nt', '']

In [62]:
str1.split("an")

['Hello Bas', 'ta']

In [74]:
#any number is True
#0 is always false
if 1:
    print("Hi")
else:
    print("else")
    

if 0:
    print("Hi")
else:
    print("in second if else")

Hi
in second if else

In [75]:

if (1<10):
    print("Hi")
else:
    print("else")

Hi

In [80]:

if (10<=10):
    print("Hi")
else:
    print("else")

Hi

In [81]:

if (10>1):
    print("Hi")
else:
    print("else")

Hi

- < Less than
- > greater than
- <= less than or equals to
- >= greater than or equals to
- !=  not equals to

##Logical Operators
- and
- or
- not

In [87]:
if(not(True)):
    print("hi")
else:
    print(str1)

Hello Basanta

In [88]:
x = 10
if (x != 9 ):
    print("hi")

hi

In [92]:
x = 10
y = 25
z = 15

# for and operator both or all the conditions should be true
if (z<y and z>x):
    print("YES")

# for or operator any one among all the conditions should be true
if (z>y or z>x):
    print("YES one condition is true")

YES
YES one condition is true

# Loops
- Continuos iterations
- 2 loops in python
- while loop
- for loop

In [10]:
x = 1
while(x<10):
    print(x)
    x = x+1

1
2
3
4
5
6
7
8
9

In [7]:
for i in str1:
    print(i)

H
e
l
l
o

B
a
s
a
n
t
a

In [11]:
for a in range(1,10):
    print(a)

1
2
3
4
5
6
7
8
9

In [12]:
print(a)

9

## Remaining topics to cover
1. Functions
2. Recursion
3. Lists
4. Dictionary
5. sets
6. iterators
7. generators
8. file I/O